name: Docker CI/CD to Render

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
      RENDER_DEPLOY_HOOK: ${{ secrets.RENDER_DEPLOY_HOOK }}

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Login to Docker Hub
      - name: Docker Hub login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      # Build & Push Frontend
      - name: Build & Push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: |
            ayubazmi/frontend:${{ github.run_number }}
            ayubazmi/frontend:latest

      # Build & Push Backend
      - name: Build & Push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: |
            ayubazmi/backend:${{ github.run_number }}
            ayubazmi/backend:latest

      # Trigger Render Deploy
      - name: Trigger Render Deploy
        if: env.RENDER_DEPLOY_HOOK != ''
        run: |
          echo "Triggering Render deploy..."
          curl -X POST "${RENDER_DEPLOY_HOOK}"
